:root{
    --size-1:20px;
    --size-2:15px;
}
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Jost', sans-serif;
    text-decoration: none;
    list-style: none;
    color: #fff;
}
.homePage{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 20px;
    gap: 10px;
}
.homePage h1{
    font-size: calc(var(--size-1) * 6);
    margin-bottom: 20px;
    font-weight: 800;
    margin-left: calc(var(--size-2) * 4);
}
.homePage p{
    font-size: calc(var(--size-2) * 1.2);
    max-width: 500px;
    line-height: 1.4;
    margin-left: calc(var(--size-2) * 4);
}