:root{
    --size: 10px;
    --primary-color: #37353e;
    --secondary-color: #f97a00;
    --bottom-color: #4e4e4e;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Jost', sans-serif;   
    text-decoration: none;
    color: #fff;
}

/* Header Styles */
.logo{
    align-items: center;
    width: 3rem;
    height: 3rem;
}
.header-box{
    width: 100%;
    position: fixed;
}
header{
    height: 4.2rem;
    text-align: left;
    color: #fff;
    display: flex;
    align-items: center;
    padding: calc(var(--size) * 2) calc(var(--size) * 4);
    background: #f97a00;
}
nav{
    text-decoration: none;
    justify-content: space-between;
    margin-left: auto;
}
nav a{
    margin-left: calc(var(--size) * 4);
    font-size: 1.2rem;
    font-weight: 400;
}
.menu-icon{
    display: none;
    cursor: pointer;
}
/* Body Styles */
body{
    background-image: url('bg hero.png'); 
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: center;
}
.setup-habit{
    align-items: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.username{
    padding: 0 calc(var(--size) * 4);
    margin-bottom: 9rem;
    font-size: 3.5rem;
    text-align: left;
}
.input-field{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 2rem;
}

input[type="text"] {
    align-items: center;
    color: #000;
    width: 14rem;
    height: 3rem;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 14px;
}
#periodSelect{
    align-items: center;
    color: #000;
    width: 14rem;
    height: 3rem;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 14px;
}

button {
    align-items: center;
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    background-color: var(--secondary-color);
    color: white;
    cursor: pointer;
    font-size: 14px;
}

button:hover {
     background-color: #e66e00;
}

footer{
    height: 4rem;
    text-align: center;
    padding: calc(var(--size) * 2) calc(var(--size) * 4);
    background: var(--secondary-color);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}